Package: com.napolit7.batterytext
Name: BatteryText
Version: 1.3.1
Architecture: iphoneos-arm
Description: Change the battery text
Maintainer: napolit7
Author: napolit7
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
